.confirmation-h1{
    position: absolute;
    top: 20%;
    left: 25%;
}

.confirmation-h2{
    position: absolute;
    top: 34%;
    left: 12%;
    font-weight: normal;
}

.confirmation-email{
    position: absolute;
    top: 40%;
    left: 28%;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}


.turnstile-h1{
    position: absolute;
    top: 58%;
    left: 15%;
    font-weight: normal;
    font-size: 3em;

}

.turnstile-number{
    position: absolute;
    top: 50%;
    left: 38%;
    font-size: 8em;
    font-weight: bold;
    color: #FFB20F;
}

