
  .student-staff-h2{
    position: absolute;
    left: 30%;
    top: 35%;
  }

  .staff-h1{
      position: absolute;
      top: 20%;
      left: 17%;
  }

  .student-h1{
    position: absolute;
    top: 20%;
    left: 18%;
}

.left-button-student-staff{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 22%;

  }
  
  .right-button-student-staff{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 54%;
  }