@import './styles/student-staff';
@import './styles/exit-button';
@import './styles/payment-form';

/* start body style rules */
  body {
    font-family: 'Archivo', sans-serif;
    background-color: #872434;
    width: 100vw;
    height: 100vh;
  }

  #root{
    width: 100vw;
    height: 100vh;
  }

  .logo-image{
    position: absolute;
    left: 40%;
  }
  /* end body style rules */

  /* time box position and style rules */ 
  .time-box{
    color: #FFB20F;
    font-size: 1.5em;
    text-align: right;
    position: absolute;
    left: 87%;
    top: -.25%;
  }
  
  /* h1 Rules */
  h1{
    font-size: 4em;
    color: #fff;
    position: absolute;
    left: 12%;
    top: 23%;
  }

  /* all button rules */
  button{
    color: #872434;
    font-size: 2em;
    font-weight: bold;
    background-color: #fff;
    padding: 2em;
  }

  /* solo button positioning rules */
  .solo{
    position: absolute;
    top: 50%;
    left: 31.5%; 
  }

  /* start back arrow positioning and style rules */
  .back-arrow{
    position: absolute;
    top: 1%;
    left: -2%;
  }

  .back-arrow-image{
    fill: #FFB20F;
  }
  /* end back arrow positioning and style rules */

  /* start left and right button position and style rules */
  .left-button{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 18%;

  }
  
  .right-button{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 52%;
  }
  /* end left and right button position and style rules */
  
  /* start inter-org style and position rules */
  .inter-org-h1{
    position: absolute;
    left: 15%;
    top: 23%;
  }

  h2{
    font-size: 2em;
    color: #fff;
  }
  
  .inter-org-h2{
    position: absolute;
    left: 7%;
    top: 50%;
  }
  .id-check{
    position: absolute;
    left: 39%;
    top: 42%;
    input{
      width: 34%;
      height: 4vh;
    }
  }
  
  .id-w{
    font-size: 4em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: -14%;
    top: -12%;
  }

    
  .left-button-interorg{
    position: absolute;
    top: 65%;
    left: 12%;
  }
  
  .right-button-interorg{
    position: absolute;
    top: 65%;
    left: 55%;
  }
  /* end inter-org style and position rules */ 
  

  p button{
    vertical-align: center;
  }
  
  input{
    font-size: 2.5em;
    padding: .25em;
  }

  .form{
    position: absolute;
    top: 43%;
    left: 30%;
    width: 70vh;
    padding: .25em;
  }
  
  .solo-form{
    position: absolute;
    top: 73%;
    left: 28.5%;
    padding: 1.5em;
  }
  
  .group{
    position: absolute;
    left: 40%;
    top: 46%;
  }
  
  .group-totals{
    position: absolute;
    left: 110%;
    top: -20%;
    color: #fff;
    font-size: 1em;
  }
  
  .group-money{
    color: #FFB20F;
  }
  
  .number-input{
    width: 10vw;
    height: 15vh;
    background-color: #fff;
    font-size: 2.25em;
  }
  
  .group-button{
    position: absolute;
    top: 65%;
    left: 30%;
    padding: 1.5em;
  
  }

  
  .hello{
    width: 90vw;
    position: absolute;
    top: 50%;
    left: 0%;
  }
  
  h4{
    font-size: 2em;
    position: absolute;
    left: 20%;
    top: 90%;
  }


