.App{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

body{
  font-family: Archivo, sans-serif;
  background-color:#872434;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

html{
  margin: 0;
}

.time-box{
  color: #FFB20F;
  font-size: 72px;
  text-align: right;
  position: absolute;
  left: 82%;
  top: -1%;
}