.App{
  position: absolute;
  width: 2048px;
  height: 1536px;
  left: 0;
  top: 0;
}

body{
  font-family: Archivo, sans-serif;
  background-color:#872434;
  margin: 0;
  width: 2048px;
  height: 1536px;
}

html{
  margin: 0;
}

.time-box{
  color: #FFB20F;
  font-size: 72px;
  text-align: right;
  position: absolute;
  left: 82%;
  top: -2%;
}